# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Local config
config/config.php

# Install state
storage/installed.lock

# Logs
storage/logs/*
!storage/logs/.gitkeep

# Cache
storage/cache/*
!storage/cache/.gitkeep

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Environment
.env

# Dependencies
vendor/
node_modules/

*.zip
release-*